[submodule "Vendor/SVSegmentedControl"]
	path = Vendor/SVSegmentedControl
	url = https://github.com/samvermette/SVSegmentedControl.git
[submodule "Vendor/SVWebViewController"]
	path = Vendor/SVWebViewController
	url = https://github.com/samvermette/SVWebViewController.git
[submodule "Vendor/TDHUDProgressBar"]
	path = Vendor/TDHUDProgressBar
	url = https://github.com/colinhumber/TDHUDProgressBar.git
[submodule "Vendor/MTInfoPanel"]
	path = Vendor/MTInfoPanel
	url = git@github.com:myell0w/MTInfoPanel.git
[submodule "Vendor/CRNavigationController"]
	path = Vendor/CRNavigationController
	url = git@github.com:croberts22/CRNavigationController.git
