[submodule "SickBeard/ATMHud"]
	path = SickBeard/ATMHud
	url = git://github.com/atomton/ATMHud.git
[submodule "SickBeard/AFNetworking"]
	path = SickBeard/AFNetworking
	url = git://github.com/gowalla/AFNetworking.git
[submodule "SickBeard/JSONKit"]
	path = SickBeard/JSONKit
	url = git://github.com/johnezang/JSONKit.git
