<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SBStatusKey</key>
	<string>wanted</string>
	<key>SBInitialQualitiesKey</key>
	<array>
		<string>SD TV</string>
	</array>
	<key>SBArchiveQualitiesKey</key>
	<array>
		<string>SD DVD</string>
	</array>
	<key>SBUseSeasonFoldersKey</key>
	<true/>
	<key>SBDefaultDirectoryIndexKey</key>
	<integer>-1</integer>
	<key>SBDefaultDirectoriesKey</key>
	<array/>
</dict>
</plist>
